@import "tailwindcss";

:root {
  --background: url("/images/BrewedTales.jpg");
  --foreground: #311313;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url("/images/BrewedTales.jpg");
    --foreground: #F2E0B2;
  }
}

body {
  background: var(--background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
